doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/main.css')
  script(type='module' src='/index.ts')

  title 2D Shading
body
  nav
  main
    canvas#display Canvas not supported!
