:root {
    --background-color: #000;
    --foreground-color: #fff;
    --error-color: salmon;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--foreground-color);
    background-color: var(--background-color);
}

canvas {
    outline: solid 1px white;
    display: block;
    width: 800px;
    height: 600px;
    margin: auto;
}

.error {
    color: var(--error-color);
}
